<div class="container main-container">
  <div class="row">
    <div class="col-lg-12 col-md-3 col-sm-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-6">
          <div class="no-padding">
            <span class="title">Minha Conta</span>
          </div>
          <div class="list-group list-categ">
            <a href="" class="list-group-item">Editar conta</a>
            <a href="" class="list-group-item">Cancelar Conta</a>
            <%=link_to('Meus Pedidos', purchase_orders_path, :class=> "list-group-item")%>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm"></div>

      <!-- Cart -->
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="col-lg-12 col-sm-12">
          <span class="title">EDITAR CONTA</span>
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature">
         <table class="table table-bordered tbl-checkout">
          <tbody>
            <tr>
              <td><%= f.label :name %></td>
              <td>
                <%= f.text_field :name, autofocus: true,:class=>'form-control' %>
              </td>
              <td>
                <%= f.label :cpf %>
              </td>
              <td>
                <%= f.text_field :cpf, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :zipcode %>
              </td>
              <td>
                <%= f.text_field :zipcode, :class=>'form-control' %>
              </td>
              <td><%= f.label :street %></td>
              <td>
                <%= f.text_field :street, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :number %>
              </td>
              <td>
                <%= f.text_field :number, :class=>'form-control' %>
              </td>
              <td>
                <%= f.label :district %>
              </td>
              <td>
                <%= f.text_field :district, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :state %>
              </td>
              <td>
                <%= f.text_field :state, :class=>'form-control' %>
              </td>
              <td><%= f.label :city %></td>
              <td>
                <%= f.text_field :city, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :complement %>
              </td>
              <td colspan="3">
                <%= f.text_area :complement, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :fone %>
              </td>
              <td>
                <%= f.text_field :fone, :class=>'form-control' %>
              </td>
              <td><%= f.label :mobile %></td>
              <td>
                <%= f.text_field :mobile, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :email %>
              </td>
              <td>
                <%= f.text_field :email, :class=>'form-control' %>
              </td>
              <td>
                <%= f.label :current_password %>
              </td>
              <td>
                <%= f.password_field :current_password, :class=>'form-control' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :password %>
              </td>
              <td>
                <%= f.password_field :password, :class=>'form-control' %>
              </td>
              <td>
                <%= f.label :password_confirmation %>
              </td>
              <td>
                <%= f.password_field :password_confirmation, :class=>'form-control' %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btn-group btns-cart">
          <%= f.submit "Update",  :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
    <!-- End Cart -->
  </div>
</div>
