<% content_for :banners do %>
<div class="container main-container">
  <div class="row">
    <!-- Slider -->
    <div class="col-lg-12 col-md-12">
      <div class="slider">
        <ul class="bxslider" >
          <% @banners.each do |banners| %>
            <li>
              <a href="index.html">
                <%= image_tag banners.banner_images.first.asset.url %>
              </a>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <!-- Featured -->

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">

      <!-- Categories -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">CATEGORIAS</span>
          <% @categories.each do |categories| %>
          <%=link_to(categories.name, category_path(categories), :class=> "list-group-item")%>
          <%end%>
        </div>
        <div class="list-group list-categ">
        </div>
      </div>
      <!-- End Categories -->

      <!-- Marca Populares -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">MARCAS POPULARES</span>
        </div>
        <div class="list-group list-categ">
          <a href="catalogue.html" class="list-group-item">Acessórios</a>
          <a href="catalogue.html" class="list-group-item">Gospel</a>
          <a href="catalogue.html" class="list-group-item">Pe. Reginaldo Manzotti</a>
          <a href="catalogue.html" class="list-group-item">Pe. Zezinho</a>
          <a href="catalogue.html" class="list-group-item">Pe. Evton</a>
          <a href="catalogue.html" class="list-group-item">Pe. Fabio de Melo</a>
        </div>
      </div>
      <!-- End Marca Populares-->

      <!-- Best Seller -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">MAIS VENDIDOS</span>
        </div>
        <% @best_sellers.each do |best_seller| %>
        <div class="hero-feature">
            <div class="thumbnail text-center">
            <%= link_to( image_tag(best_seller.images.first.asset.url), product_path(best_seller), :class=>"work") %>
              <div class="caption prod-caption">
                <h4><a href="/details"><%= best_seller.name %></a></h4>
                <p><%= best_seller.description %></p>
                <p>
                  <div class="btn-group">
                    <a href="#" class="btn btn-default">R$ <%= best_seller.price %></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Comprar</a>
                  </div>
                </p>
              </div>
            </div>
        </div>
        <%end%>
      </div>
      <!-- End Best Seller -->
    </div>

    <div class="clearfix visible-sm"></div>

    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">NOVOS PRODUTOS</span>
      </div>
      <% @products.each do |products| %>
        <div class="col-lg-4 col-sm-4 hero-feature text-center" width="1">
          <div class="thumbnail">
            <%= link_to( image_tag(products.images.first.asset.url), product_path(products), :class=>"work") %>
              <div class="caption prod-caption">
                <h4><a href="/details"><%= products.name %></a></h4>
                <p><%= products.description %></p>
                <p>
                  <div class="btn-group">
                    <a href="#" class="btn btn-default"><%= number_to_currency(products.price) %></a>
                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Comprar</a>
                  </div>
                </p>
              </div>
          </div>
        </div>
      <%end%>
    </div>
    <!-- End Best -->
  </div>
</div>
