<!DOCTYPE html>
<html>
<head>
  <title>Procade Ecommerce</title>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
    <div class="row">
        <!-- Logo -->
        <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
          <div class="well logo">
            <a href="/">
              <%=image_tag 'ProcadeLogo.png'%><span>Loja online</span>
            </a>
          </div>
        </div>
        <!-- End Logo -->
        <!-- Search Form -->
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
          <div class="well">
            <form action="">
              <div class="input-group">
                <input type="text" class="form-control input-search" placeholder="Digite algo para pesquisar:"/>
                <span class="input-group-btn">
                  <button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <!-- End Search Form -->

        <!-- Shopping Cart List -->
        <div class="col-lg-3 col-md-4 col-sm-5">
          <div class="well">
            <div class="btn-group btn-group-cart">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="pull-left"><i class="fa fa-shopping-cart icon-cart"></i></span>
                <span class="pull-left">Carrinho de Compra: 2 item(s)</span>
                <span class="pull-right"><i class="fa fa-caret-down"></i></span>
              </button>
              <ul class="dropdown-menu cart-content" role="menu">
                <li>
                  <a href="detail.html">
                    <b>Penn State College T-Shirt</b>
                    <span>x1 $528.96</span>
                  </a>
                </li>
                <li>
                  <a href="detail.html">
                    <b>Live Nation ACDC Gray T-Shirt</b>
                    <span>x1 $428.96</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="cart.html">Total: $957.92</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Shopping Cart List -->
      </div>
    </div>
  </header>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- text logo on mobile view -->
        <a class="navbar-brand visible-xs" href="index.html">Mimity Online Shop</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Inicio</a></li>
          <li><%= link_to 'Meus Pedidos', purchase_orders_path %></li>
          <li><a href="">Minha Conta</a></li>
          <li><a href="">CORRENTE DE ORAÇÃO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
          <li><%= link_to 'Entrar ou Cadastrar', user_session_path %></li>

          <% end %>
          <% if user_signed_in? %>
          <li><%= link_to 'Administrador', '/admin' %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>

      </li>
    </ul>
  </div>
</div>
</nav>
<!-- End Navigation -->

<%= yield :banners %>

<%= yield %>
</div>
<footer id="footer" class="footer">
  <section class="footersocial">
    <div class="container">
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="column">
          <h4>Informação</h4>
          <ul>
            <li><a href="about.html">Quem Somos</a></li>
            <li><a href="typography.html">Corrente de Orações</a></li>
            <li><a href="typography.html">Hospital do Câncer UOPECCAN</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="column">
          <h4>Atendimento ao Cliente</h4>
          <ul>
            <% Company.all.each do |company| %>
              <li><a href="#">Empresa: <%= company.nick_name %></a></li>
              <li><a href="#">Telefone: <%= company.phone1 %></a></li>
              <li><a href="#">E-mail: <%= company.email %></a></li>
              <li><a href="#">Skype: <%= company.skype %></a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="column">
          <h4>Redes Sociais</h4>
          <ul class="social">
            <li><a href="'<%= company.skype %>'">Facebook</a></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="copyrightbottom">
    <div class="container ">
      <div class="row">
        <div class="pull-left"> Direitos Autorais © 2015. Direitos Reservados </div>
        <div class="pull-right"> Desenvolvido por Denys Santos</div>
      </div>
    </div>
  </section>
</div>

</footer>

<a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
  <i class="fa fa-angle-double-up"></i>
</a>

<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
<%= javascript_include_tag 'application'%>

</body>
</html>
